<div class="footer">
<div class="line-separator"></div>
    <div class="foot1">
        <container><%= image_tag("nyt-name", id: "nyt-name-footer") %></container>
        <container><a href="/" class="footerlink">Go to Home Page »</a></container>
    </div>
    <div class="foot2">
        <container class="footermenu">
            <span class="footertitles">NEWS</span>
            <p class="footertext">World</p>
            <p class="footertext">U.S.</p>
            <p class="footertext">Politics</p>
            <p class="footertext">N.Y.</p>
            <p class="footertext">Business</p>
            <p class="footertext">Tech</p>
            <p class="footertext">Science</p>
            <p class="footertext">Health</p>
            <p class="footertext">Sports</p>
            <p class="footertext">Education</p>
            <p class="footertext">Obituaries</p>
            <p class="footertext">Today's Paper</p>
            <p class="footertext">Corrections</p>
        </container>
        <container class="footermenu">
            <span class="footertitles">OPINION</span>
            <p class="footertext">Today's Opinion</p>
            <p class="footertext">Op-Ed Columnists</p>
            <p class="footertext">Editorials</p>
            <p class="footertext">Op-Ed Contributors</p>
            <p class="footertext">Letters</p>
            <p class="footertext">Sunday Review</p>
            <p class="footertext">Video: Opinion</p>
        </container>
        <container class="footermenu">
            <span class="footertitles">ARTS</span>
            <p class="footertext">Today's Arts</p>
            <p class="footertext">Art &amp; Design</p>
            <p class="footertext">Books</p>
            <p class="footertext">Dance</p>
            <p class="footertext">Movies</p>
            <p class="footertext">Music</p>
            <p class="footertext">N.Y.C. Events Guid</p>
            <p class="footertext">Television</p>
            <p class="footertext">Theater</p>
            <p class="footertext">Video: Arts</p>
        </container>
        <container class="footermenu">
            <span class="footertitles">LIVING</span>
            <p class="footertext">Automobiles</p>
            <p class="footertext">Crossword</p>
            <p class="footertext">Food</p>
            <p class="footertext">Education</p>
            <p class="footertext">Fashion &amp; Style</p>
            <p class="footertext">Health</p>
            <p class="footertext">Jobs</p>
            <p class="footertext">Magazine</p>
            <p class="footertext">N.Y.C. Events Guide</p>
            <p class="footertext">Real Estate</p>
            <p class="footertext">T Magazine</p>
            <p class="footertext">Travel</p>
            <p class="footertext">Weddings &amp; Celebrations</p>
        </container>
        <container class="footermenu">
            <span class="footertitles">LISTING &amp; MORE</span>
            <p class="footertext">Reader Center</p>
            <p class="footertext">Classifieds</p>
            <p class="footertext">Tools &amp; Services</p>
            <p class="footertext">N.Y.C. Events Guide</p>
            <p class="footertext">Multimedia</p>
            <p class="footertext">Photography</p>
            <p class="footertext">Video</p>
            <p class="footertext">NYT Store</p>
            <p class="footertext">Times Journeys</p>
            <p class="footertext">Subscribe</p>
            <p class="footertext">Manage My Account</p>
            <p class="footertext">NYTCo</p>
        </container>
        <div class="line-separator-vertical"></div>
        <container class="footermenu" id="footermenusub">
            <span class="footertitles">SUBSCRIBE</span>
            <p class="footertextsub">Home Delivery</p>
            <p class="footertextsub">Digital Subscriptions</p>
            <p class="footertextsub">Crossword</p>
            <p class="footertextmini">Email Newsletters</p>
            <p class="footertextmini">Alerts</p>
            <p class="footertextmini">Gift Subscriptions</p>
            <p class="footertextmini">Education Rate</p>
            <div class="line-separator"></div>
            <p class="footertextmini">Mobile Applications</p>
            <p class="footertextmini">Replica Edition</p>
        </container>
    </div>
    <div class="line-separator"></div>
    <div class="foot3">
        <p class="footerlastext">© 2017 The New York Times Company | Contact Us | Work With Us | Advertise | Your Ad Choices | Privacy | Terms of Service | Terms of Sale</p>
        <div class="line-separator-vertical2"></div>
        <p class="footerlastext">Site Map | Help | Site Feedback | Subscriptions</p>
    </div>
</div>